<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value=".\packages" />
		<add key="globalPackagesFolder" value=".\packages" />
	</config>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<clear />
		<add key="adshybrid-Consumption" value="https://msdata.pkgs.visualstudio.com/Tina/_packaging/adshybrid-Consumption/nuget/v3/index.json" />
		<!-- <add key="Nuget" value="https://api.nuget.org/v3/index.json" /> -->
		<!-- For local dev only -->
		<!-- <add key="LocalNuget" value="C:\localnuget" /> -->
	</packageSources>
	<packageSourceCredentials>
		<adshybrid-Consumption>
			<add key="Username" value="%NUGET_USER%" />
			<add key="ClearTextPassword" value="%NUGET_PAT%" />
		</adshybrid-Consumption>
	</packageSourceCredentials>
</configuration>
